.navbar {
    height: 5rem;
    width: 1000%; /* Adjust the width as needed */
    max-width: 100%; /* Set a reasonable maximum width */
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(25, 24, 24);
}



  
  .logo {
    width: 5rem;
    height: 4rem;
    object-fit: cover;
  }
  
  .desktopMenu {
    display: flex;
    align-items: center;
  }
  
  .desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
  }
  
  .desktopMenuListItem:hover {
    color: rgb(243, 104, 104);
    padding-bottom: 0.1rem; /* Adjust padding instead of margin */
    border-bottom: 3px solid antiquewhite;
  }
  
  .mobMenu {
    width: 6rem;
    height: 7rem;
    object-fit: cover;
    margin: 1rem;
  }
  
  .desktopMenuButton {
    background: rgb(25, 24, 24);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1rem; /* Adjust the top position as needed */
    right: 2rem;
  }
  
  /* Align the logo to the left and desktopMenu to the right */
  .navbar > .logo {
    margin-right: auto;
  }
  
  /* Align the desktopMenuImg to the right */
  .navbar > .desktopMenuImg {
    margin-left: auto;
  }
  
  /* Adjust the spacing between logo and desktopMenu */
  .navbar > .desktopMenu {
    margin-left: 0.5rem;
  }
  
  /* Added styles for centering the desktopMenu */
  .desktopMenu {
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .workBtn{
    margin: 4rem 2rem;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: aquamarine;
    font-size: 1rem;
    cursor: pointer;
  }  
  
  .active {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
  }
  
  .navMenu{
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
    right: 0; 
  }
  
  .ListItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    white-space: nowrap;
  }
  
  .mobMenu {
      display: none;
      object-fit: cover;
      height: auto;
      width: auto; 

  }
  
  .mobMenu {
    transition: none;
  }
  
   
  @media screen and (max-width: 720px) {
    
    .desktopMenu {
      display: none;
    }


    .mobMenu {
      display: flex;
      max-width: 100%;
    }

    ..navbar {
       width: 100%;
    }

    .workBtn {
      display: none;
    }
  } 